
.menu_button > div{
    color:#333333;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.menu > .button{
    margin:1rem;
    border-radius:0.8rem;
    display:flex;
    flex-direction:row;
    align-items:center;
  }
.menu > .button > span{ /* Pictos */
    font-size:2.3rem !important;
    margin-right : 1rem;
}
  
.button{
    cursor:pointer;
    height:var(--button-height);
    padding:1.2rem;
    border-radius: 1rem;
    font-size:1.5rem;
    font-weight:bold;
    background-color: var(--button-color);
    transition: background-color 0.2s;
    color: white;
    text-decoration: none;
}
.button:hover{
    background-color: var(--hover-color);
}
.send_button{
    height:5rem;
    width:100%;
  }



.inline_share{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    align-items:center;
}

.share{
    min-height: 5rem;
    padding: 1rem;
    font-size: var(--text-size);
    border:none;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
  }
  .share:empty::before {
    content: attr(placeholder);
    color: #555; 
  }
  
  .share:empty:focus::before {
    content: "";
  }
  
span{
    color:#eeeeee;
}



.adhesion_form{
    display:flex;
    flex-direction: column;
  }


.text_input{
    display: block;
    height:3rem;
    font-size: var(--text-size);
  }
  .checkbox{
    height:2rem;
    width:2rem;
    margin-right:1rem;
  }
  label{
    font-size:var(--text-size);
  }


iframe{
    flex-grow:1;
    border-radius: 5px;
    margin-bottom:20px;
  }



#mobileDropdown{
    opacity:0;
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
  }