html{
    /* FONTS */
    --title-font: 'Ubuntu', sans-serif;;
    --text-font: 'Nunito', sans-serif;


    /* COLORS */
    /* Page */
    --background-color: #E3EBFF;

    --menu-begin-color: #2A385C;
    --menu-end-color: #2E4B96;

    --shadow-color: #1d274081;

    --hero-color1: #5875bf;
    --hero-color3: #192c5e;
    --hero-color2: #4238ac;

    /* Slides */

    --slide-color1: #B4C5F1;
    --slide-color2: #EBD2BC;
    --slide-color3: #B4D6AF;
    --slide-color4: #D6BCDA;
    --slide-color5: #B4C5F1;

    /* Elements */

    --button-color: #354C86;
    --hover-color: #4863A9;

    --text-color: #2A385C;

    /* DIMENSIONS */

    /*font-size: calc((1vw + 1.1vh)/2); Attempt to make things better on edge cases */
    font-size: 1vw;

    /* Page */
    --menu-width: 15vw; /*Side menu*/
    --menu-height:10vh; /*Top menu*/

    --button-height:1rem;

    /* Texts */
    --title-size: 8rem;
    --section-size : 3rem;
    --subsection-size: 2.2rem;
    --text-size : 1.8rem;


}