@media only screen and (-webkit-min-device-pixel-ratio: 2)
{

}
@media only screen and (-webkit-min-device-pixel-ratio: 3)
{

}

@media only screen and (max-width: 900px),
only screen and (hover: none) and (pointer: coarse)
 {
    html{
    font-size:2vw;
    }
    h1 {
      font-size : calc(var(--title-size)/2);
    }
    .hero_text{
        font-size: calc(1vw*1vh);
    }
    .menu {
        display: none;
    }
    .top_menu{
        position:fixed;
        display:flex;
    }
    .page {
        margin-left:0px;
        margin-top:var(--menu-height);
    }
    .hero{
        min-height: calc(100vh - var(--menu-height));
    }
    .slides{
        width:100%;
    }
    .hero_text{
        width:90%;
    }
    .scrollable{
        width:100%;
    }

    .panel{
        min-height:0px;
    }

    .slides{
        display:none;
    }

    
    .secondary{
        display: none;
    }
    .mobile_only{
        display:block;
    }

  }
