
html, body {
  margin:0px;
  padding:0px;
}

.container{
  display: flex;
  flex-direction: row;
}

.menu {
  width:var(--menu-width);
  height:100vh;
  box-sizing: border-box;
  position:fixed;
  display:flex;
  flex-direction: column;
  padding-top:var(--button-height);
}

.top_menu{
  width:100vw;
  height:var(--menu-height);
  position:fixed;
  display:none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index:15;
}

.menu_button{
  display:block;
}

.page {
  margin-left:var(--menu-width);
  display:flex;
  flex-direction: column;
  flex-grow:1;
}

.hero {
  display:flex;
  flex-grow:1;
  height:100vh;
}
.hero_panel{
  flex-grow: 1;
  display:flex;
  flex-direction:column;
  align-items: center;

}
.content {
  display:flex;
  flex-direction: row;
}

.scrollable{
    width:50%;
}
.slides{
    height:100vh;
    width:49%;
    position:sticky;
    top: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.slide{
    min-height:60vh;
    width:100%;
    position:absolute;
    display:flex;
    opacity:0;
    transition: opacity 500ms ease-in-out;
  
}
.slide.active{
  opacity:1;
  z-index:10;
}

.slide_panel{
  flex-grow:1;
}


.panel{
    padding:50px;
    min-height:100vh;
    flex-grow:1;
}

.mobile_only{
  display:none;
}