/* PAGE */
body{
  font-family: var(--text-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

.menu{
  background: linear-gradient(var(--menu-begin-color), var(--menu-end-color) 90%);
  box-shadow: 0px 0px 4rem var(--shadow-color);
}

.top_menu{
  background: linear-gradient(270deg, var(--menu-begin-color), var(--menu-end-color) 20%);
  box-shadow: 0px 0px 20px var(--shadow-color);
}
.top_menu > span{
  color:#ffffff;
  font-size:3em;
  width:fit-content;
  margin:0px;
  margin-left:2vw;
}
.top_menu > h1{
  width:fit-content;
  height:fit-content;
  margin:0px;
  color: var(--background-color);
}

.hero_panel{
  background: linear-gradient(217deg, var(--hero-color1), rgba(255,0,0,0) 70%),
            linear-gradient(127deg, var(--hero-color2), rgba(0,255,0,0) 70%),
            linear-gradient(0deg, var(--hero-color3), rgba(0,0,255,0) 70%);
  border-radius:5rem;
  margin : 2em;
}

.slide_panel{
  border-radius:5rem;
  padding: 5rem;
}

/* TEXTS */
h1{
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--title-size);
}
h2{
  font-size: var(--section-size);
  font-family: var(--title-font);
  font-weight:bold;
}
h3{
  font-size: var(--subsection-size);
  font-family: var(--title-font);
  font-weight:bold;
  margin-top:1em;
}
.hero_text{
  font-size : 1.8rem;
  text-align: center;
  font-weight:500;
  width:60%;
}
p{
  font-size: var(--text-size);
}
em{
  text-decoration: underline;
}
ul{
  font-size: var(--text-size);
}
a{
  color: var(--hover-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: var(--button-color);
}


/* SLIDES */
#slide_what > div {
  background-color: var(--slide-color1);
  justify-content: center;
  display:flex;
  flex-direction: column;
}
#whale{
  width:100%;
}

#slide_calendar > div {
  background-color: var(--slide-color2);
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  padding:2rem;
}
#slide_structure > div {
  background-color: var(--slide-color3);
}
#slide_contact > div {
  background-color: var(--slide-color4);
}
#slide_ressources > div {
  background-color: var(--slide-color5);
}
