
body{
  font-family: 'Nunito', sans-serif;
  font-size:24px;
}

h2{
  font-size: 35px;
}
h3{
  font-size: 28px;
  font-style: italic;
  margin-top:100px;
}
p{
  font-size: 23px;
}
#slide_what > div {
  background-color: #9bf3ff;
  justify-content: center;
  display:flex;
  flex-direction: column;
}
#slide_calendar > div {
  background-color: #E3BAFF;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  padding:20px;
}
#slide_structure > div {
  background-color: #DFFFE5;
}
#slide_contact > div {
  background-color: #B2EFFF;
}
#slide_ressources > div {
  background-color: #FFF0D8;
}


#whale{
  width:100%;
}


.share{
  width: 70%;
  min-height: 60px;
  padding: 10px;
  font-size: 20px;
  border:none;
  background-color: #ffffff;
  border-radius: 5px;
}
.share:empty::before {
  content: attr(placeholder);
  color: #555; 
}

.share:empty:focus::before {
  content: "";
}

.hero_text{
  font-size:30px;
  text-align: center;
  width:60%;
}


.adhesion_form{
  display:flex;
  flex-direction: column;
  font-size: 24px;
}
.text_input{
  display: block;
  height:40px;
  font-size: 24px;
}
.checkbox{
  height:40px;
  width:40px;
  margin-right:10px;
}
iframe{
  flex-grow:1;
  border-radius: 5px;
  margin-bottom:20px;
}
em{
  text-decoration: underline;
}
#mobileDropdown{
  opacity:0;
  position:absolute;
  width:80px;
  height:80px;
  left:10px;
}