
#slide_what > div {
  background-color: #7ba9ff;
  justify-content: center;
  display:flex;
  flex-direction: column;
}
#slide_calendar > div {
  background-color: #7bf0ff;
}
#slide_structure > div {
  background-color: #7bff9c;
}
#slide_contact > div {
  background-color: #ff7b7b;
}
#slide_ressources > div {
  background-color: #e7ff7b;
}


#whale{
  width:100%;
}


.share{
  width: 70%;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  border:none;
}
.share_button{
  width: 20%;
  height: 60px;
  border-radius: 30px;
  
  font-size: 20px;
  background-color: #5f9dee;
  color: white;
}
